<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
   
    <title>Game and Prize Management</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <button class="btn btn-primary sidebar-btn" data-target="minigame-list">Mini Game List</button>
            <button class="btn btn-primary sidebar-btn" data-target="prize-list">Prize List</button>
            <button class="btn btn-primary sidebar-btn" onclick="window.location.href='/public-link-list'">Public Game Link</button>
            <button class="btn btn-primary sidebar-btn" onclick="window.location.href='/winner-list'">Winner List</button>
        </div>
    </div>

    <div class="container">
        <h1>-------------------------Admin Management---------------------</h1>
        <h2>Public Game Link List</h2>
        <form method="POST" action="{{ url_for('public_link_list') }}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <label for="link">Link:</label>
            {{ form.link(class="form-control link-input") }}
            <label for="gameId">Game Id:</label>
            {{ form.gameId(class="form-control gameId-input") }}
            <label for="poster">Poster:</label>
            {{ form.poster(class="form-control poster-input") }}
            <label for="description">Description:</label>
            {{ form.description(class="form-control description-input") }}
            <button type="submit" class="btn btn-primary add-link">Add Link</button>
        </form>
        <table class="table">
            <thead>
            
            </thead>
            
            <tbody class="links-list">
                {% for link in links %}
                    <tr>
                        <td>{{ link.Link }}</td>
                        <td>{{ link.GameId }}</td>
                        <td>{{ link.Poster }}</td>
                        <td>{{ link.Caption }}</td>
                        <td>
                            <button class="btn btn-warning edit-link" data-link-id="{{ link.LinkId }}">Edit</button>
                            <button class="btn btn-danger delete-link" data-link-id="{{ link.LinkId }}">Delete</button>
                            <button class="btn btn-primary share-link" data-link-id="{{ link.LinkId }}">Share</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <script src="static/admin.js"></script>
    <script src="static/public_link_game.js"></script>
    <script src="static/winners.js"></script>
    <script type="text/template" class="links-list-template">
        <td><span class="link"><%= link %></span></td>
        <td><span class="gameId"><%= gameId %></span></td>
        <td><span class="poster"><%= poster %></span></td>
        <td><span class="description"><%= description %></span></td>
        <td>
            <button class="btn btn-warning edit-link">Edit</button>
            <button class="btn btn-danger delete-link">Delete</button>
            <button class="btn btn-primary share-link">Share</button>
            
        </td>
    </script>
    <script type="text/template" class="winners-list-template">
        <td><span class="WinId"><%= WinId %></span></td>
        <td><span class="IdPlayer"><%= IdPlayer %></span></td>
        <td><span class="GiftId"><%= GiftId %></span></td>
        <td><span class="Amount"><%= Amount %></span></td>
        <td><span class="State"><%= State %></span></td>
        <td>
            <button class="btn btn-warning edit-winner">Edit</button>
            <button class="btn btn-danger delete-winner">Delete</button>
        </td>
    </script>
    
</body>
</html>
